@helper HelperName(string name)
{
    // pomocnik może zawierać kod i/lub znaczniki, np.
    // var msg = "Witaj, " + name;
    // <p>@msg</p>
    // Aby uzyskać więcej informacji, odwiedź stronę https://go.microsoft.com/fwlink/?LinkID=204658
}

@helper Podswietlenie(string str)
{
    <span style="background-color: yellow">
        @str
    </span>
}


